.services-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
  
  /* .services-slider {
    margin: 0 -15px;
  } */
  
  /* .service {
    background: blue;
    padding: 60px
} */
#services{
    background-color: white;
    padding: 50px;
}

.slick-dots li button:before {
    font-size: 16px;
}

.slick-prev:before, .slick-next:before{
    font-size: 30px !important;
}
.service h3{
    font-size: 30px;
}
h2:nth-child(2){
    padding: 50px;
}

.service p{
    font-size: 20px;
}

.service-icon{
    font-size: 30px;
}
